.form {
    display: flex;
    align-items: center;
}

.input-date {
    width: 104px;
    height: 40px;
    margin-right: 32px;
    border: none;
    outline: none;
}

.input-date:active {
    border: none;
    outline: none;
}