@font-face {
  font-family: "robotoblack";
  src: url("roboto-black.woff2") format("woff2"),
    url("roboto-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("roboto-bold.woff2") format("woff2"),
    url("roboto-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomedium";
  src: url("roboto-medium.woff2") format("woff2"),
    url("roboto-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular.woff2") format("woff2"),
    url("roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
