@import '../../../assets/sass/mixins';

.chart {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;

  @include mq(tablet) {
    display: block;
    width: 704px;
    margin-top: 32px;
    padding: 20px 34px;
  }

  @include mq(desktop) {
    width: 1034px;
    padding: 20px 134px;
  }
}
