@import '../../../assets/sass/mixins';

.chart {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);

  @include mq(tablet) {
    display: block;
    margin-top: 32px;
    padding: 20px 34px;
    border-radius: 30px;
  }

  @include mq(desktop) {
    padding: 20px 134px;
  }
}
