@import '../../../assets/sass/mixins';


.tracker {
    @include mq(mobile-only) {
        // min-width: 320px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        position: absolute;
        left: 0;
        right: auto;
        bottom: 0;
    }

    @include mq (tablet) {
        max-width: 704px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq (desktop) {
        max-width: 1098px;
        margin-left: auto;
        margin-right: auto;
    }
}


.tracker-tab-active {

    width: 50%;
    height: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-orange);
    

    @include mq(tablet){
        width: 138px;
    height: 40px;
    display: inline-flex;
align-items: center;
justify-content: center;
border-radius: 20px 20px 0 0;
    background-color: #FEFEFE;
    }

    @include mq(desktop){
        width: 138px;
        height: 40px;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
        background-color: #FEFEFE;
    }
 
}

.tracker-tab {

    width: 50%;
    height: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFBFD;


    @include mq(tablet){
        width: 138px;
        height: 40px;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
        background-color: #FAFBFD;
    }

    @include mq (desktop) {
       width: 138px;
        height: 40px;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
        background-color: #FAFBFD;
    }
}


.link {
  @include font-style(12px, 700, 1.2, 0.02em);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--highlight-black-color);

  & .tab {
    width: 138px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    background-color: #fafbfd;

    @include mq (mobile-only) {
        border-radius:0;
        width: 50%;
        background-color: var(--background-grey-secondary);
        color: var(--primary-text-color);
    }
  }
}

.linkActive {
  @include font-style(12px, 700, 1.2, 0.02em);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--highlight-black-color);

  & .tab {
    width: 138px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    color: var(--background-orange);

    @include mq (mobile-only) {
        border-radius:0;
        width: 50%;
        background-color: var(--background-orange);
        color: white;
    }
  }
}
