@import '../../assets//sass/mixins';
@import '../../assets/sass/rootColors';

.section {
  position: relative;
  background: url('../../assets/images/bg-login.svg'),
    url('../../assets/images/bg-single-cabbage.svg');
  background-size: 232px cover;
  background-repeat: repeat-x, no-repeat;
  background-position: 10px 25px, 17% 100%;

  @include mq(tablet) {
    background: url('../../assets/images/bg-login.svg'),
      url('../../assets/images/bg-login2.svg');
    background-position: 10px 25px, 17% 95%;
    background-size: 232px cover;
    background-repeat: repeat-x, no-repeat;
  }
}

.bg {
  position: absolute;
  height: 70%;
  width: 100%;
  background-color: var(--background-grey);
  border-bottom-left-radius: 110px;
  z-index: -1;
}

.container {
  min-height: calc(100vh - 56px);
  max-width: 466px;
  padding-top: 86px;
  padding-bottom: 15px;
  margin: 0 auto;

  @include mq(tablet) {
    padding-top: 80px;
    max-width: none;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include mq(desktop) {
    padding-top: 0;
    width: 1098px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapper-title {
  width: 100%;
  padding: 0 20px;
  margin: 0 0 50px 0;
  @include mq(tablet) {
    margin: 0 0 80px 0;
  }
  @include mq(desktop) {
    padding: 0;
    margin: 0 157px 0 0;
  }
}

.title {
  width: 225px;
  position: relative;
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.17;

  @include mq(tablet) {
    width: 330px;
    font-size: 88px;
  }
  @include mq(desktop) {
    width: 380px;
    font-size: 102px;
  }
}

.square {
  content: '';
  display: block;
  width: 4px;
  height: 10px;
  position: absolute;

  background-color: var(--highlight-black-color);

  @include mq(tablet) {
    width: 8px;
    height: 13px;
  }
}

.text {
  margin: 0;
  margin-left: 15px;
  margin-top: 4px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;

  color: var(--primary-text-color);

  @include mq(tablet) {
    margin-left: 70px;
    font-size: 16px;
    letter-spacing: 0.18em;
  }
}
