@import '../../../assets/sass/mixins';

.wrapper {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  overflow: hidden;
  margin-top: 32px;

  @include mq(tablet) {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop) {
    width: 1034px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
}
