:root {
  --primary-text-color: #52555f;
  --secondary-text-color: #52555f80;
  --highlight-white-color: #ffffff;
  --highlight-black-color: #000000;
  --highlight-red-color: #e53935;
  --highlight-green-color: #407946;
  --background-orange: #ff751d;
  --background-grey: #f5f6fb;
  --background-grey-secondary: #f6f7fb;
  --background-grey-tertiary: #f2f5fc;
}
